#div{
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0%;
}
#div > h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
#div > h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
#div > h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
#div > h4{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
}